.student {
    width: 400px;
    border: 2px solid red;
    padding: 10px;
    margin: 20px auto;
}

.student-name {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid gray;
    padding: 5px 10px;
    text-align: center;
}